@import "/assets/styles/globals.scss";


.menu {
  display: flex;
  margin: 30px;

  a{
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;

    &:focus{
      outline: none;
    }

  }

  .nav-active{
    color: $color-1;
    position: relative;

    &::after {
      content: "";
      height: 4px;
      width: 100%;
      background: $color-1;
      position: absolute;
      border-radius: 10px;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      animation: anim 0.6s ease forwards;

      @keyframes anim {
        to {
          width: 100%;
        }
      }
    }
  }


  .inactive{
    color: $color-3;
  }
}
